.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important { color: red; }
.serendipity_msg_notice { color: green; }

.serendipity_freeTag,
.serendipity_freeTag_related,
.serendipity_commentDirection,
.serendipity_entrypaging,
.container_serendipity_plugin_staticpage a,
.pagelinks,
.serendipity_edit_nugget,
.serendipity_multilingualInfo,
.serendipity_tweetback_check {
    font-size: .75em;
    margin: 0 0 1.5em;
}

.serendipity_commentDirection label { font-size: 1em; }

.serendipity_freeTag,
.serendipity_multilingualInfo {
    display: block;
    text-align: left;
}

.freetag_cloud .serendipity_date {
    float: left;
    width: 18.375em;
}

.freetag_cloud { margin: 0 0 2.25em; }

.serendipity_freetag_taglist {
    float: right;
    width: 29.75em;
}

.serendipity_freetag_taglist_related {
    font-size: .875em;
    font-weight: bold;
    line-height: 1.2867em;
    margin: 0 0 1.2857em;
}

.pagination { text-align: center; }

.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: .0625em solid #ccc!important;
    padding: 0!important;
}

.serendipity_image_left { margin: 0 .625em .625em 0; }

.serendipity_image_right { margin: 0 0 .625em .625em; }

.serendipity_image_center {
    display: block;
    margin: 0 auto .625em auto;
}

.serendipity_imageComment_left {
    float: left;
    margin: 0 .625em .625em 0;
}

.serendipity_imageComment_right {
    float: right;
    margin: 0 0 .625em .625em;
}

.serendipity_imageComment_center {
    display: block;
    margin: 0 auto .625em auto;
}

.serendipity_imageComment_img img {
    border: none!important;
    margin: 0!important;
}

.serendipity_imageComment_txt {
    background: #eee;
    font-size: .75em;
    padding: .1667em 0;
    text-align: center;
}

.category_link_all {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

.serendipity_entrypaging:after,
.freetag_cloud:after,
#serendipity_categories_list:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.serendipity_entrypaging,
.freetag_cloud,
#serendipity_categories_list { display: inline-block; }

/* Hides from IE-mac \*/ 
* html .serendipity_entrypaging,
* html .freetag_cloud,
* html #serendipity_categories_list { height: 1%; }

.serendipity_entrypaging,
.freetag_cloud,
#serendipity_categories_list { display: block; }
/* End hide from IE-mac */

.serendipity_entrypaging_left { float: left; }
.serendipity_entrypaging_right { float: right; }

.epicon { display: none; }

.serendipity_entrypaging_left .epicon { display: inline; }
.serendipity_entrypaging_right .epicon { display: inline; }

.pagelinks #thispage { padding: .1667em; }

.pagelinks a:link,
.pagelinks a:visited,
.pagelinks a:active {
    background: #fff;
    color: #1a3;
    padding: .1667em .25em;
    text-decoration: none;
}

.pagelinks a:hover,
.pagelinks a:focus {
    background: #1a3;
    color: #fff;
    padding: .1667em .25em;
    text-decoration: none;
}

#serendipity_categories_list,
#archive-tagcloud { margin: 0 0 1.125em!important; }

.staticpage_results { text-align: left!important; }

.serendipity_tweetthis_img { margin: 0 5px 5px 0; }

#header h1 {
    font-size: 2.5em;
    max-width: 476px;
}